* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: auto;
    display: block;
    align-items: center;
    justify-content: center;
}

body {
    margin-left: 25%;
    margin-right: 25% ;
} 

header {
    background-color: #E1C16E;
    padding: 5px;
    padding-left: 25px;
    margin-bottom: 20px;
    border-radius: 20px 25px 0 0;
    text-transform: uppercase;
}

.obsah {
    height: 50vh;
    justify-content: center;
    align-items: center;
    display: block;
}


input, select {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 25px;
    text-transform: uppercase;
    display: flex;
}

button {
    font-size: 15px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    justify-content: left;
    border: none;
    border-radius: 25px;
    background-color: #9ACD32;
}

button:hover {
    background-color: #6B8E23;
}

footer {
    background-color: #E1C16E;
    padding: 5px;
    padding-right: 25px;
    margin-bottom: 20px;
    border-radius: 0 0 20px 25px;
    font-size: small;
    text-align: right;
}
    
